body {
    background: #fff;
    min-width: 343px;
}

#beaker {
    float: left;
}

#particle-table {
    position: absolute;
    left: 100px;
    top: 420px;
}

#particle-table > div {
    float: left;
    text-align: center;
}

#particle-table div.particle {
    position: relative;
    height: 40px;
}

#particle-table div.particle img.proton {
    position: absolute;
    left: 26px;
    top: 0;
}

#particle-table .label {
    margin: 0 0.2em;
}

#pH {
    position: absolute;
    left: 400px;
    top: 200px;
    width: 100px;
}

#base-type {
    margin: auto;
    width: 50%;
}

#base-type > input[type="radio"] {
    margin-left: 13px;
    transform: scale(1.3);
}

#base-type-img-container {
    height: 35px;
}

#strong-base-label {
    position: relative;
    left: 50px;
}

#weak-base-label {
    position: relative;
    left: 115px;
}
